<div class="container">
<div class="row text-center">
	<title>Add user</title>
        <form method="POST">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Add user</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label>Username</label><input type="text" name="username" /></td>
                    </tr>
                    <tr>
                        <td><label>Password</label><input type="password" name="password" /></td>
                    </tr>
                    <tr>
                        <td>
                            <select name="role" class="selectpicker">
                                <option value="manager">Manager</option>
                                <option value="queue">Queue</option>
                                <option value="insert">Insert</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="submit" >Add User</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
</div>
</div>
