<div class="container">
<div>
        <form role="search" method="POST" style="">
                <label>Username</label><input type="text" name = "username" />
                <label>Password</label><input type="password" name = "password" />
                <button type="submit">Login</>
        </form>	
</div>
</div>
<style>
    form
    {
        margin: 0 auto;
        width: 250px;
    }
</style>
